/* ==#==MARQUEE SHOW POSTER====*/
/* ==#==                   ====*/
        .marquee-item-show {
            display: inline-block;
            aspect-ratio: 2 / 3; 
            border-color: green;
            border-style: solid;
            overflow: hidden;
            position: relative;
            
            
            width: 12.5rem;
            border-width: 5px;
            margin: 5px;
        }


        .marquee-item-show img{
            display: inline-block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
/* ==#==                   ====*/



/* ==#==REVIEW SECTION====*/
/* ==#==              ====*/
        .current-show-poster {
            display: block;
            border-style: solid;
            border-color: gold; 
            border-radius: 2%;
            aspect-ratio: 2 / 3;
            
            
            width: 12.75rem;
            border-width: 7px;
            margin: 0 auto;
        }


        .serializd-profile img{
            display: block;
            border-style: solid;
            border-color: rgb(93, 147, 228); 
            overflow: hidden;
            border-radius: 15%;
            aspect-ratio: 1 / 1;
            

            width: 9.375rem;
            border-width: 4px;
            margin: 0 auto;
        }
/* ==#==             ====*/



/* ==#===MISC====== */
/* ==#==        ====*/
    /* ======*SPECIFIC CHANGES PER ITEM====== */ 
            [id="spongebob-squarepants-filter-font"] {
                font-size: 1rem!important;
            }
/* ==#==        ====*/




/* @=====MEDIA FLEX====== */
/* @==                @== */
    /* ==#==EXTRA LARGE SCREEN  1200px+ ==== */
        @media (max-width: 87.5em) {
            .marquee-item-show {
                width: 10rem;
                border-width: 4px;
                margin: 4px;
            }


            .current-show-poster {
                width: 10.5rem;
                border-width: 5px;
                margin: 0 auto;
            }


            .serializd-profile img{
                width: 8rem;
                border-width: 4px;
                margin: 0 auto;
            }



    /* ======*SPECIFIC CHANGES PER ITEM====== */ 
            [id="spongebob-squarepants-filter-font"] {
                font-size: .8rem!important;
            }
        }

    /* ==#==LARGE SCREEN==== 992px - 1200px*/    
        @media (max-width: 75em) { 
            .marquee-item-show {
                width: 9rem;
                border-width: 4px;
                margin: 3px;
            }


            .current-show-poster {
                width: 9.5rem;
                border-width: 4px;
                margin: 0 auto;
            }


            .serializd-profile img{
                width: 7rem;
                border-width: 3px;
                margin: 0 auto;
            }



    /* ======*SPECIFIC CHANGES PER ITEM====== */ 
            [id="spongebob-squarepants-filter-font"] {
                font-size: .7rem!important;
            }           
        }

    /* ==#==MEDIUM SCREEN==== 768px - 992px*/    
        @media (max-width: 57.625em) {
            .marquee-item-show {
                width: 8rem;
                border-width: 3px;
                margin: 2px;
            }


            .current-show-poster {
                width: 8rem;
                border-width: 4px;
                margin: 0 auto;
            }


            .serializd-profile img{
                width: 6.2rem;
                border-width: 3px;
                margin: 0 auto;
            }



    /* ======*SPECIFIC CHANGES PER ITEM====== */ 
            [id="spongebob-squarepants-filter-font"] {
                font-size: .65rem!important;
            }
        }

    /* ==#==SMALL SCREEN==== 576px - 768px*/
        @media (max-width: 48em) {
            .marquee-item-show {
                width: 7rem;
                border-width: 3px;
                margin: 2px;
            }


            .current-show-poster {
                width: 7rem;
                border-width: 4px;
                margin: 0 auto;
            }


            .serializd-profile img{
                width: 6rem;
                border-width: 3px;
                margin: 0 auto;
            }



    /* ======*SPECIFIC CHANGES PER ITEM====== */ 
            [id="spongebob-squarepants-filter-font"] {
                font-size: .54rem!important;
            }
        }

    /* ==#==EXTRA SMALL SCREEN==== 576px - 400px*/
        @media (max-width: 36em) {
            .marquee-item-show {
                width: 6rem;
                border-width: 2px;
            }


            .current-show-poster {
                width: 6rem;
                border-width: 3px;
            }


            .serializd-profile img {
                width: 5rem;
                border-width: 2px;
            }



    /* ======*SPECIFIC CHANGES PER ITEM====== */ 
            [id="spongebob-squarepants-filter-font"] {
                font-size: .48rem!important;
            }
        }

    /* ==#==SMALLEST SCREEN==== 400px- */
        @media (max-width: 25em) {
            .serializd-profile img {
                width: 4.5rem;
                border-width: 2px;
            }    
        }
/* @==                @== */