/* todo: scale font with vp */

.twin-peaks-font {
    font-family: Avant Garde, Avantgarde, Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    font-size: 100%;
    font-weight: bold;
    color: #644647;
    letter-spacing: .2rem;
    text-transform: uppercase;
    text-shadow:  
                0 0 .3px #644647,          /* bottom-right */
                0 0 1px #644647,          /* top-left */
                0 0 1px #644647,          /* top-right */
                0 0 .3px #644647,          /* bottom-left */
                0 0 2px #644647,          /* directly below */
                0 0 .2px #644647,          /* directly right */
                0 0 1.5px #644647,          /* directly above */                                   
                0 0 .2px #644647,          /* directly left */

                2px 2px 1px #47ff52,      /* bottom-right */
                -2px -2px 1px #47ff52,    /* top-left */
                1px -2px 1px #47ff52,     /* top-right */
                -2px 2px 1px #47ff52,     /* bottom-left */
                0px 2px 2px #47ff52,      /* directly below */
                2px 0px 2px #47ff52,      /* directly right */
                0px -2px 2px #47ff52,     /* directly above */
                -2px 0px 2px #47ff52,     /* directly left */
                
                4px 4px 2px #000000;       /* bottom-right, further away */
}

.twin-peaks-icon {
    font-family: Avant Garde, Avantgarde, Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    font-size: 85%;
    font-weight: bold;
    color: #644647;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-shadow: 

                0 0 .3px #644647,          /* bottom-right */
                0 0 1px #644647,          /* top-left */
                0 0 1px #644647,          /* top-right */
                0 0 .3px #644647,          /* bottom-left */
                0 0 2px #644647,          /* directly below */
                0 0 .2px #644647,          /* directly right */
                0 0 1.5px #644647,          /* directly above */                                   
                0 0 .2px #644647,          /* directly left */
    
                2.5px 2.5px 1px #47ff52,      /* bottom-right */
                -2.5px -2.5px 1px #47ff52,    /* top-left */
                1.25px -2.5px 1px #47ff52,    /* top-right */
                -2.5px 2.5px 1px #47ff52,     /* bottom-left */
                0px 2.5px 2px #47ff52,        /* directly below */
                2.5px 0px 2px #47ff52,        /* directly right */
                0px -2.5px 2px #47ff52,       /* directly above */
                -2.5px 0px 2px #47ff52,       /* directly left */
                
                4px 3.9px 1px #333;       /* bottom-right, further away */

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; 


}

.social-media-icons {
    height: 100;
    width: 100;
}

.header-background-1 {
    background-image: url('https://i.imgur.com/DpUgwWz.png');
    background-repeat: no-repeat;
    background-size: 100% 45%;
    background-attachment: fixed;
    background-position: center -12px;
}