<nav class="navbar sticky-top header-background-1 z-3" id="nav-header">
  <div class="container-fluid">

    <div class="row w-100 justify-content-around pb-1 pt-lg-2 pt-1 mb-1">

      <div class="col-auto">
        <a class="nav-link twin-peaks-icon" target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/noahblueiloveyou/" aria-label="instagram">
          <i class="fa-brands fa-instagram fa-2xl"></i>
        </a>
      </div>

      <div class="col-auto">
        <a class="nav-link twin-peaks-icon" target="_blank" rel="noopener noreferrer" href="https://x.com/noahblueily" aria-label="twitter">
          <i class="fa-brands fa-twitter fa-2xl"></i>
        </a>
      </div>

      <div class="col-auto">
        <a class="nav-link twin-peaks-icon" target="_blank" rel="noopener noreferrer" href="https://www.youtube.com/@noahblueily" aria-label="youtube">
          <i class="fa-brands fa-youtube fa-2xl"></i>
        </a>
      </div>

      <div class="col-auto">
        <a class="nav-link twin-peaks-icon" target="_blank" rel="noopener noreferrer" href="https://www.tiktok.com/@noahblueily" aria-label="tiktok">
          <i class="fa-brands fa-tiktok fa-2xl"></i>
        </a>
      </div>

      <!-- <div class="col-auto">
        <a class="nav-link twin-peaks-icon" target="_blank" rel="noopener noreferrer" href="https://open.spotify.com/artist/6NbHzpTEbvBsfhWOup1hDI" aria-label="spotify">
          <i class="fa-brands fa-spotify fa-2xl"></i>
        </a>
      </div> -->

      <!-- <div class="col-auto">
        <a class="nav-link twin-peaks-icon" target="_blank" rel="noopener noreferrer" href="https://www.threads.com/@noahblueiloveyou" aria-label="threads">
          <i class="fa-brands fa-threads fa-2xl"></i>
        </a>
      </div> -->

      <div class="col-auto">
        <a class="nav-link twin-peaks-icon" target="_blank" rel="noopener noreferrer" href="https://soundcloud.com/noahblueily" aria-label="soundcloud">
          <i class="fa-brands fa-soundcloud fa-2xl"></i>
        </a>
      </div>

    </div>


    <div class="row w-100 justify-content-around mb-2">

      <div class="col-auto">
        <a class="nav-link twin-peaks-font" href="/">noah</a>
      </div>

      <div class="col-auto">
        <a class="nav-link twin-peaks-font" routerLink="/music">releases</a>
      </div>

      <div class="col-auto">
        <a class="nav-link twin-peaks-font" routerLink="/music-videos">music videos</a>
      </div>

    </div>
  </div>
</nav>