<nav class="navbar sticky-top header-background-1 z-3" id="nav-header">
  <div class="container-fluid p-3 justify-content-around">

    <a class="nav-link twin-peaks-font" href="/">noah</a>

    <a class="nav-link twin-peaks-font" routerLink="/music">releases</a>

    <a class="nav-link twin-peaks-font" routerLink="/music-videos">music videos</a>

    <a class="nav-link twin-peaks-icon" target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/noahblueiloveyou/" aria-label="instagram">
      <i class="fa-brands fa-square-instagram fa-2xl"></i>
    </a>

    <a class="nav-link twin-peaks-icon" target="_blank" rel="noopener noreferrer" href="https://x.com/noahblueily" aria-label="twitter">
      <i class="fa-brands fa-twitter fa-2xl"></i>
    </a>

    <a class="nav-link icon-link twin-peaks-icon" target="_blank" rel="noopener noreferrer" href="https://www.youtube.com/@noahblueily" aria-label="youtube">
      <i class="fa-brands fa-youtube fa-2xl"></i>
    </a>

    <a class="nav-link twin-peaks-icon" target="_blank" rel="noopener noreferrer" href="https://www.tiktok.com/@noahblueily" aria-label="tiktok">
      <i class="fa-brands fa-tiktok fa-2xl"></i>
    </a>

    <a class="nav-link twin-peaks-icon" target="_blank" rel="noopener noreferrer" href="https://open.spotify.com/artist/6NbHzpTEbvBsfhWOup1hDI?si=5UKynVjWSPOVTgG5jIIFYw" aria-label="spotify">
      <i class="fa-brands fa-spotify fa-2xl"></i>
    </a>

    <a class="nav-link twin-peaks-icon" target="_blank" rel="noopener noreferrer" href="https://www.threads.com/@noahblueiloveyou" aria-label="threads">
      <i class="fa-brands fa-threads fa-2xl"></i>
    </a>

    <a class="nav-link twin-peaks-icon" target="_blank" rel="noopener noreferrer" href="https://soundcloud.com/noahblueily" aria-label="soundcloud">
      <i class="fa-brands fa-soundcloud fa-2xl"></i>
    </a>

    <a class="nav-link twin-peaks-font" href="#">contact</a>
  </div>
</nav>