.marquee-wrapper {
    padding: 10px;
    background-color: rgb(54, 163, 105);

    width: max-content;
}

.marquee-content {
    overflow: clip;
    display: flex;
}

.marquee-item {
    width: max-content;
    padding: 5px;
    max-width: 20%;
}

.marquee-track {
    display: flex;

    animation-name: marquee;
    animation-duration: 37s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}

@keyframes marquee {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
}