/* TODO create highlight animations on hover */
/* TODO change systle to showing title and a design on hover (maybe some static or something) */


/* ======* MARQUEE STUFF ====== */


.marquee-item-movie {
    display: inline-block;
    width: 200px;
    height: 300px;
    margin: 5px;
    border: 5px solid green;
    overflow: hidden;
}

.marquee-item-movie img{
    display: inline-block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ======* MOVIE REVIEW SECTION ====== */

.letterboxd-profile img{
    display: block;
    margin: 0 auto;
    width: 150px;
    height: 150px;
    border-width: 4px;
    border-style: solid;
    border-color: rgb(93, 147, 228); 
    border-radius: 15%;
    overflow: hidden;
}

.current-movie-poster {
    display: block;
    margin: 0 auto;
    width: 204px;
    height: 308px;
    border-width: 7px;
    border-style: solid;
    border-color: gold; 
    border-radius: 8px;
}

a:has(.current-movie-poster) {
    display: block;
    width: fit-content;
    margin: 0 auto;
}



/* @=====MEDIA FLEX====== */
/* @==                @== */
    /* ==#==EXTRA LARGE SCREEN==== */
        @media (max-width: 1400px) {

        }

    /* ==#==LARGE SCREEN==== */    
        @media (max-width: 1200px) { 
            .letterboxd-profile img{
                width: 120px;
                height: 120px;
            }

            .marquee-item-movie {
                width: 150px;
                height: 225px;
            }


            .current-movie-poster {
                width: 150px;
                height: 225px;
                border-width: 4px;
                border-radius: 4px;
                margin-left: -25px;
            }
        }

    /* ==#==MEDIUM SCREEN==== */    
        @media (max-width: 992px) {
            .letterboxd-profile img{
                width: 110px;
                height: 110px;
            }

            .marquee-item-movie {
                width: 133.33px;
                height: 200px;
                margin: 3px;
            }


            .current-movie-poster {
                width: 125px;
                height: 187.5px;
                border-width: 4px;
                border-radius: 4px;
                margin-left: -25px;
            }
        }

    /* ==#==SMALL SCREEN==== */
        @media (max-width: 768px) {
            .letterboxd-profile img{
                width: 100px;
                height: 100px;
            }

            .marquee-item-movie {
                width: 130px;
                height: 195px;
                margin: 3px;
            }


            .current-movie-poster {
                width: 125px;
                height: 187.5px;
                border-width: 4px;
                border-radius: 4px;
                margin-left: -25px;
            }
        }

    /* ==#==EXTRA SMALL SCREEN====*/
        @media (max-width: 576px) {
            .marquee-item-movie {
                width: 100px;
                height: 150px;
                margin: 2px;
                border-width: 3px;
                border-radius: 4px;
            }
            
            .current-movie-poster {
                width: 100px;
                height: 150px;
                border-width: 3px;
                border-radius: 4px;
                margin-left: -.95vw;
            }

            .letterboxd-profile img{
                width: 83px;
                height: 83px;
                margin-right: 2vw;
            }    
        }

    /* ==#==SMALLEST SCREEN====*/
        @media (max-width: 400px) {
            .letterboxd-profile img{
                width: 80px;
                height: 80px;
                margin-right: -1vw;
            }    
        }

/* ======* MISC ====== */

p {
white-space: pre-line;
}

