/* ==#==MARQUEE MOVIE POSTER====*/
/* ==#==                    ====*/
    .marquee-item-movie {
        display: inline-block;
        aspect-ratio: 2 / 3; 
        border-color: green;
        border-style: solid;
        overflow: hidden;
        
        
        width: 12.5rem;
        border-width: 5px;
        margin: 5px;
    }


    .marquee-item-movie img{
        display: inline-block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
/* ==#==                    ====*/



/* ==#==REVIEW SECTION====*/
/* ==#==              ====*/
    .current-movie-poster {
        display: block;
        border-style: solid;
        border-color: gold; 
        border-radius: 2%;
        aspect-ratio: 2 / 3;
        
        
        width: 12.75rem;
        border-width: 7px;
        margin: 0 auto;
    }


    .letterboxd-profile img{
        display: block;
        border-style: solid;
        border-color: rgb(93, 147, 228); 
        overflow: hidden;
        border-radius: 15%;
        aspect-ratio: 1 / 1;
        
        
        width: 9.375rem;
        border-width: 4px;
        margin: 0 auto;
    }
/* ==#==             ====*/



/* ==#===MISC====== */

/* ==#==        ====*/




/* @=====MEDIA FLEX====== */
/* @==                @== */
    /* ==#==EXTRA LARGE SCREEN==== */
        @media (max-width: 87.5em) {
            .marquee-item-movie {
                width: 10rem;
                border-width: 4px;
                margin: 4px;
            }


            .current-movie-poster {
                width: 10.5rem;
                border-width: 5px;
                margin: 0 auto;
            }


            .letterboxd-profile img{
                width: 8rem;
                border-width: 4px;
                margin: 0 auto;
            }
        }

    /* ==#==LARGE SCREEN==== */    
        @media (max-width: 75em) { 
            .marquee-item-movie {
                width: 9rem;
                border-width: 4px;
                margin: 3px;
            }


            .current-movie-poster {
                width: 9.5rem;
                border-width: 4px;
                margin: 0 auto;
            }


            .letterboxd-profile img{
                width: 7rem;
                border-width: 3px;
                margin: 0 auto;
            }
        }

    /* ==#==MEDIUM SCREEN==== */    
        @media (max-width: 57.625em) {
            .marquee-item-movie {
                width: 8rem;
                border-width: 3px;
                margin: 2px;
            }


            .current-movie-poster {
                width: 8rem;
                border-width: 4px;
                margin: 0 auto;
            }


            .letterboxd-profile img{
                width: 6.2rem;
                border-width: 3px;
                margin: 0 auto;
            }
        }

    /* ==#==SMALL SCREEN==== */
        @media (max-width: 48em) {
            .marquee-item-movie {
                width: 7rem;
                border-width: 3px;
                margin: 2px;
            }


            .current-movie-poster {
                width: 7rem;
                border-width: 4px;
                margin: 0 auto;
            }


            .letterboxd-profile img{
                width: 6rem;
                border-width: 3px;
                margin: 0 auto;
            }
        }

    /* ==#==EXTRA SMALL SCREEN====*/
        @media (max-width: 36em) {
            .marquee-item-movie {
                width: 6rem;
                border-width: 2px;
            }


            .current-movie-poster {
                width: 6rem;
                border-width: 3px;
            }


            .letterboxd-profile img {
                width: 5rem;
                border-width: 2px;
            }    
        }

    /* ==#==SMALLEST SCREEN====*/
        @media (max-width: 25em) {
            .letterboxd-profile img {
                width: 4.5rem;
                border-width: 2px;
            }    
        }
/* @==                @== */