/* TODO create highlight animations on hover */
/* TODO change systle to showing title and a design on hover (maybe some static or something) */

/* ==#==MARQUEE MOVIE POSTER====*/
/* ==#==                    ====*/
    .marquee-item-movie {
        display: inline-block;
        aspect-ratio: 2 / 3; 
        border-width: 5px;
        border-color: green;
        border-style: solid;
        overflow: hidden;

        width: 12.5rem;
        margin: 5px;
    }


    .marquee-item-movie img{
        display: inline-block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
/* ==#==                    ====*/



/* ==#==REVIEW SECTION====*/
/* ==#==              ====*/
    .current-movie-poster {
        display: block;
        border-style: solid;
        border-color: gold; 
        border-radius: 2%;
        aspect-ratio: 2 / 3;

        border-width: 7px;
        margin: 0 auto;
        width: 12.75rem;
    }


    a:has(.current-movie-poster) {
        display: block;
        width: fit-content;
        margin: 0 auto;
    }



    .letterboxd-profile img{
        display: block;
        border-style: solid;
        border-color: rgb(93, 147, 228); 
        overflow: hidden;
        border-radius: 15%;
        aspect-ratio: 1 / 1;

        margin: 0 auto;
        width: 9.375rem;
        border-width: 4px;
    }
/* ==#==             ====*/



/* @=====MEDIA FLEX====== */
/* @==                @== */
    /* ==#==EXTRA LARGE SCREEN==== */
        @media (max-width: 1400px) {

        }

    /* ==#==LARGE SCREEN==== */    
        @media (max-width: 1200px) { 
            .letterboxd-profile img{
                /* width: 120px;
                height: 120px; */
            }

            .marquee-item-movie {
                /* width: 150px;
                height: 225px; */
            }


            .current-movie-poster {
                /* width: 150px;
                height: 225px; */
            }
        }

    /* ==#==MEDIUM SCREEN==== */    
        @media (max-width: 992px) {
            .letterboxd-profile img{
                /* width: 110px;
                height: 110px; */
            }

            .marquee-item-movie {
                /* width: 133.33px;
                height: 200px; */
            }


            .current-movie-poster {
                /* width: 125px;
                height: 187.5px;
                border-width: 4px; */
            }
        }

    /* ==#==SMALL SCREEN==== */
        @media (max-width: 768px) {
            .letterboxd-profile img{
                /* width: 100px;
                height: 100px; */
            }

            .marquee-item-movie {
                /* width: 130px;
                height: 195px; */
            }


            .current-movie-poster {
                /* width: 125px;
                height: 187.5px; */
            }
        }

    /* ==#==EXTRA SMALL SCREEN====*/
        @media (max-width: 36em) {
            .marquee-item-movie {
                width: 6.25rem;
                border-width: 3px;
            }
            
            .current-movie-poster {
                width: 6.5rem;
                border-width: 3px;
            }
            
            .letterboxd-profile img {
                width: 5.1875rem;
                border-width: 3px;
            }    
        }

    /* ==#==SMALLEST SCREEN====*/
        @media (max-width: 25em) {
            .letterboxd-profile img {
                width: 5rem;
                margin-right: 0;
            }    
        }

/* ======* MISC ====== */

p {
white-space: pre-line;
}

