/* ==#==MARQUEE ALBUM ART====*/
/* ==#==                 ====*/
        .marquee-item-song {
            display: inline-block;
            aspect-ratio: 1 / 1;
            border-style: solid;
            overflow: hidden;
            position: relative;
            
            
            width: 12.5rem;
            border-width: 5px;
            margin: 3px;
            padding: 0!important;
        }


        .marquee-item-song img{
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
/* ==#==                ====*/



/* ==#==REVIEW SECTION====== */
/* ==#==              ====== */
        .current-album-cover {
            display: block;
            border-color: gold; 
            border-radius: 2%;
            border-style: solid;
            
            
            width: 12.75rem;
            border-width: 5px;
            margin: 0 auto;
        }


        .spotify-profile img{
            display: block;
            border-style: solid;
            border-color: rgb(93, 147, 228); 
            border-radius: 15%;
            aspect-ratio: 1 / 1;
            
            
            width: 9.375rem;
            border-width: 3px;
        }
/* ==#==                 ====*/



/* ==#=== SONG LIST STUFF ====== */
/* ==#==                     ====*/
        .full-song-list {
            max-width: fit-content;
            max-height: 25vh;
            overflow-y: scroll;
            border: 5px solid blueviolet !important;
        }


        .full-song-list .list-group-item {
            border-left: none;
            border-right: none;
        }


        .full-song-list .list-group-item:first-child {
            border-top: none;
        }


        .full-song-list .list-group-item:last-child {
            border-bottom: none;
        }
/* ==#==                     ====*/



/* ==#===MISC====== */
    /* ======*SPECIFIC CHANGES PER ITEM====== */ 
            [id="the-background-filter-font"] {
                font-size: 1.03rem!important;
            }

            [id="thingsudo2me-filter-font"] {
                font-size: .9rem!important;
            }

            [id="fall-asleep-to-the-thought-of-me-trying-to-fall-asleep-filter-font"] {
                font-size: 1.1rem!important;
                line-height: 1.1;
            }

            [id="rally-the-troops!-poke-holes-in-their-defenses!-line-our-coffers-with-their-coffins!-filter-font"] {
                font-size: .85rem!important;
                line-height: 1.5;
            }

            [id="your-body-is-a-wonderland-filter-font"] {
                font-size: 1rem!important;
            }

            [id="waterworks-filter-font"] {
                font-size: 1rem!important;
            }
/* ==#==        ====*/



/* @=====MEDIA FLEX====== */
/* @==                @== */
    /* ==#==EXTRA LARGE SCREEN==== */
        @media (max-width: 87.5em) {
            .marquee-item-song {
                width: 10rem;
                border-width: 4px;
                margin: 4px;
            }


            .current-album-cover {
                width: 10.5rem;
                border-width: 5px;
                margin: 0 auto;
            }

            
            .spotify-profile img{
                width: 8rem;
                border-width: 4px;
                margin: 0 auto;
            }


    /* ======*SPECIFIC CHANGES PER ITEM====== */ 
            [id="the-background-filter-font"] {
                font-size: .85rem!important;
            }
            
            [id="thingsudo2me-filter-font"] {
                font-size: .78rem!important;
            }

            [id="fall-asleep-to-the-thought-of-me-trying-to-fall-asleep-filter-font"] {
                font-size: .93rem!important;
                line-height: 1.2;
            }

            [id="rally-the-troops!-poke-holes-in-their-defenses!-line-our-coffers-with-their-coffins!-filter-font"] {
                font-size: .73rem!important;
                line-height: 1.4;
            }

            [id="your-body-is-a-wonderland-filter-font"] {
                font-size: .85rem!important;
            }

            [id="waterworks-filter-font"] {
                font-size: .8rem!important;
            }
        }

    /* ==#==LARGE SCREEN==== */    
        @media (max-width: 75em) { 
            .marquee-item-song {
                width: 9rem;
                border-width: 4px;
                margin: 3px;
            }


            .current-album-cover {
                width: 9.5rem;
                border-width: 4px;
                margin: 0 auto;
            }


            .spotify-profile img{
                width: 7rem;
                border-width: 3px;
                margin: 0 auto;
            }


    /* ======*SPECIFIC CHANGES PER ITEM====== */ 
            [id="the-background-filter-font"] {
                font-size: .7rem!important;
            }
            
            [id="thingsudo2me-filter-font"] {
                font-size: .69rem!important;
            }

            [id="fall-asleep-to-the-thought-of-me-trying-to-fall-asleep-filter-font"] {
                font-size: .75rem!important;
                line-height: 1.3;
            }

            [id="rally-the-troops!-poke-holes-in-their-defenses!-line-our-coffers-with-their-coffins!-filter-font"] {
                font-size: .68rem!important;
                line-height: 1.3;
            }

            [id="your-body-is-a-wonderland-filter-font"] {
                font-size: .75rem!important;
            }

            [id="waterworks-filter-font"] {
                font-size: .72rem!important;
            }
        }

    /* ==#==MEDIUM SCREEN==== */    
        @media (max-width: 57.625em) {
            .marquee-item-song {
                width: 8rem;
                border-width: 3px;
                margin: 2px;
            }


            .current-album-cover {
                width: 8rem;
                border-width: 4px;
                margin: 0 auto;
            }


            .spotify-profile img{
                width: 6.2rem;
                border-width: 3px;
                margin: 0 auto;
            }


    /* ======*SPECIFIC CHANGES PER ITEM====== */ 
            [id="the-background-filter-font"] {
                font-size: .7rem!important;
            }
            
            [id="thingsudo2me-filter-font"] {
                font-size: .62rem!important;
            }

            [id="fall-asleep-to-the-thought-of-me-trying-to-fall-asleep-filter-font"] {
                font-size: .7rem!important;
                line-height: 1.2;
            }

            [id="rally-the-troops!-poke-holes-in-their-defenses!-line-our-coffers-with-their-coffins!-filter-font"] {
                font-size: .56rem!important;
                line-height: 1.35;
            }

            [id="your-body-is-a-wonderland-filter-font"] {
                font-size: .68rem!important;
            }

            [id="waterworks-filter-font"] {
                font-size: .65rem!important;
            }
        }

    /* ==#==SMALL SCREEN==== */
        @media (max-width: 48em) {
            .marquee-item-song {
                width: 7rem;
                border-width: 3px;
                margin: 2px;
            }


            .current-album-cover {
                width: 7rem;
                border-width: 4px;
                margin: 0 auto;
            }


            .spotify-profile img{
                width: 6rem;
                border-width: 3px;
                margin: 0 auto;
            }


    /* ======*SPECIFIC CHANGES PER ITEM====== */ 
            [id="the-background-filter-font"] {
                font-size: .6rem!important;
            }
            
            [id="thingsudo2me-filter-font"] {
                font-size: .5rem!important;
            }

            [id="fall-asleep-to-the-thought-of-me-trying-to-fall-asleep-filter-font"] {
                font-size: .58rem!important;
                line-height: 1.38;
            }

            [id="rally-the-troops!-poke-holes-in-their-defenses!-line-our-coffers-with-their-coffins!-filter-font"] {
                font-size: .48rem!important;
                line-height: 1.48;
            }

            [id="your-body-is-a-wonderland-filter-font"] {
                font-size: .55rem!important;
            }

            [id="waterworks-filter-font"] {
                font-size: .55rem!important;
            }
        }

    /* ==#==EXTRA SMALL SCREEN==== 576px - 400px*/
        @media (max-width: 36em) {
            .marquee-item-song {
                width: 6rem;
                border-width: 2px;
            }


            .current-album-cover {
                width: 6rem;
                border-width: 3px;
            }


            .spotify-profile img {
                width: 5rem;
                border-width: 3px;
            }



    /* ======*SPECIFIC CHANGES PER ITEM====== */
            [id="piano-man-abridged-style"] {
                font-size: 1.28rem!important;
            }



            [id="the-background-filter-font"] {
                font-size: .5rem!important;
            }
            
            [id="thingsudo2me-filter-font"] {
                font-size: .468rem!important;
            }

            [id="fall-asleep-to-the-thought-of-me-trying-to-fall-asleep-filter-font"] {
                font-size: .48rem!important;
                line-height: 1.4;
            }

            [id="rally-the-troops!-poke-holes-in-their-defenses!-line-our-coffers-with-their-coffins!-filter-font"] {
                font-size: .45rem!important;
                line-height: 1.4;
            }

            [id="your-body-is-a-wonderland-filter-font"] {
                font-size: .48rem!important;
            }

            [id="waterworks-filter-font"] {
                font-size: .48rem!important;
            }
        }

    /* ==#==SMALLEST SCREEN====*/
        @media (max-width: 25em) {
            .spotify-profile img {
                width: 4.5rem;
                border-width: 3px;
            }    



    /* ======*SPECIFIC CHANGES PER ITEM====== */
            [id="piano-man-abridged-style"] {
                font-size: 1.23rem!important;
            }
        }
/* @==                @== */