<!-- nav sidebar -->
<div class="sidebar-left col-2 mt-3 justify-content-center align-items-center">

    <nav class="navbar">
    <div class="container justify-content-center">
        <ul class="nav flex-column nav-underline text-center border border-danger w-75">

            <h1>
                <a class="navbar-brand m-0 border border-black text-center">stuff i like</a>
            </h1>

            <li class="nav-item">
                <a class="nav-link  navbar-responsive-text " routerLink="/songs-i-like">music</a>
            </li>
            <li class="nav-item">
                <a class="nav-link navbar-responsive-text " routerLink="/movies-i-like">movies</a>
            </li>
            <li class="nav-item">
                <a class="nav-link navbar-responsive-text " routerLink="">tv</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link navbar-responsive-text " routerLink="#">anime</a>
            </li>
            <li class="nav-item">
                <a class="nav-link navbar-responsive-text " routerLink="#" >gaming</a>
            </li>

        </ul>
    </div>
    </nav>

</div>