@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,800;1,800&display=swap');

.sidebar-left {
    background-color: burlywood;
    padding: 1rem;
    margin-top: 3px;
    height: 444.25;
    top: 25vh;
    pointer-events: none;
    z-index: 1;
    position: sticky;
}

.sidebar-left h2 {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.sidebar-left .nav-link {
    color: #333;
    padding: 0.75rem;
    pointer-events: all!important;
}

.sidebar-left .nav-link:hover {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}


@media (max-width: 991px) {
    .sidebar-left {
    margin-top: 3px;
    }
}