<aside class="sidebar-left">

    <nav>
        <h2 class="text-center border border-dark p-2 mb-3">stuff i like</h2>
        <ul class="nav flex-column text-center">
            <li class="nav-item">
            <a class="nav-link" routerLink="/songs-i-like">music</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" routerLink="/movies-i-like">movies</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" routerLink="">tv</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" routerLink="#">anime</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" routerLink="/games-i-like">games</a>
            </li>
        </ul>
    </nav>
    
</aside>