.sidebar-left {
    background-color: burlywood;
    padding: 1rem;
    margin-top: 3px;
    height: fit-content;
    top: 25vh;
    pointer-events: none;
    z-index: 1;
    position: sticky;
}

.sidebar-left h2 {
    font-size: 1.25rem;
}

.sidebar-left .nav-link {
    color: #333;
    padding: 0.75rem;
    pointer-events: all!important;
}

.sidebar-left .nav-link:hover {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}


@media (max-width: 991px) {
    .sidebar-left {
    margin-top: 3px;
    }
}