@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,800;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital,wght@0,400..700;1,400..700&display=swap');

/* TODO: @media for nice scaling */

.sidebar-left {
    background-color: transparent burlywood;
    padding: 1.5rem;
    margin-top: 3px;
    height: fit-content;
    top: 25vh; 
    pointer-events: none;
    z-index: 1;
    position: sticky;
    padding-bottom: 100px;
    margin-left: 2px;
    margin-right: -2px;
}

.sidebar-left h2 {
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;

    letter-spacing: .05rem;
    font-size: 2rem;

    border-bottom: 6px double #333;
    padding-top: 0px;
    margin-bottom: 5px;
    margin-left: 16px;
    margin-right: 15px;
}

.sidebar-left .nav-link {
    font-family: "Libre Bodoni", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

    color: #333;
    font-size: 1.5rem;
    padding-top: 7px;
    padding-bottom: 7px;

    align-self: center;
    width:90%;
    pointer-events: all!important;
}

.sidebar-left .nav-link:hover {
    background-color: #9a969169;
    background-image: url("https://www.transparenttextures.com/patterns/natural-paper.png");
    border-radius: 4px;
}

.sidebar-left .nav-item {
    color: #333;
    display: contents;
}


/* ======* NEWSPAPER BG ====== */

.newspaper-background {
    background-image:url("/misc-images/newspaper-left.png");
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 16.5vw 350px;
    background-position-x: center;
}

/* ======* NEWSPAPER TEXTURE ====== */

.newspaper-background::after {
    content: "";
    background-image: url("/misc-images/newspaper-left-texture.png");
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 16.5vw 350px;
    background-position-x: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 1;
    z-index: 0;
}


@media (max-width: 991px) {
    .sidebar-left {
        margin-top: 3px;
        padding-bottom: 100px;
    }

    .sidebar-left h2 {
        letter-spacing: .02rem;
        font-size: 1.5rem;

        border-bottom: 4px double #333;
        padding-top: 0px;
        margin-bottom: 4px;
        margin-left: 3.5px;
        margin-right: 2px;
    }

    .sidebar-left .nav-link {
        font-family: "Libre Bodoni", serif;

        font-size: 1.25rem;
        padding-top: 11px;
        padding-bottom: 11px;
    }
    
    .newspaper-background {
        background-size: 46.4vw 350px;
    }
    
    .newspaper-background::after {
        background-size: 46.4vw 350px;
    }
}