/* TODO create highlight animations on hover */
/* TODO change systle to showing title and a design on hover (maybe some static or something) */

@import url(https://fonts.googleapis.com/css2?family=League+Gothic&display=swap);

/* ==#==MARQUEE STUFF====*/
/* ==#==             ====*/
    /* ======*MARQUEE STRUCTURE====== */ 
        .marquee-border {
            border-style: ridge;
            border-color: rgb(0, 0, 0);

            border-width: 10px;
        }


        .marquee-wrapper-outer {
            padding-left: 0px;
            background-color: rgb(54, 163, 105);
            width: max-content;
            overflow: hidden;
            scrollbar-color: rgb(210, 255, 231) rgb(14, 142, 74);
            scrollbar-width: auto;
        
            padding-top: 10px;
            padding-bottom: 10px;
        }


        .marquee-wrapper {
            width: max-content;
        }


        .marquee-content {
            overflow: hidden;
            display: flex;
            gap: 0; 
        }



    /* ======*MARQUEE ANIMATION====== */ 
        .marquee-track {
            display: flex;
            animation: marquee var(--marquee-duration, 20s) linear infinite;
            animation-delay: 1500ms;
        }


        @keyframes marquee {
            0% { 
                transform: translateX(0); 
            }
            100% { 
                transform: translateX(var(--scroll-distance, -50%)); 
            }
        }
/* ==#==             ====*/




/* ==#==REVIEW SECTION====*/
/* ==#==              ====*/
    /* ======*BACKGROUND====== */ 
        h2 {
            background-color: antiquewhite;
            background-image: url(https://img.freepik.com/free-photo/concrete-wall-textured-backgrounds-built-structure-concept_53876-14107.jpg);
            background-repeat: repeat;
        }

        p {
            background-color: antiquewhite;
            white-space: pre-line;
        }



    /* ======*CURRENT ITEM DISPLAY====== */
        .current-item-title {
            text-align: center;
            text-decoration: underline;

            font-family: "League Gothic", sans-serif;
            font-optical-sizing: auto;
            font-weight: 400;
            font-style: normal;
            font-variation-settings:
            "wdth" 100;


            font-size: 4rem;
            text-decoration-thickness: 5px;
            margin: 0rem;
        }


        
        #item-review {
            font-family: 'Times New Roman', Times, serif;


            font-size: 1.4rem;
            column-count: 4;
            column-gap: 2rem;
            line-height: 1;
            padding-bottom: .2rem;
            padding-top: .1rem;
        }


        #item-review::first-letter {
            text-transform: uppercase;
            font-weight: bold;
            line-height: 5rem;
            float: left;


            font-size: 3.97em;
            margin-top: .28rem;
            margin-right: .3rem;
            margin-left: 2.5rem;
        }


        #item-review::first-line {
            text-transform: uppercase;
            letter-spacing: .3rem;
        }


        #song-lyrics {
            font-size: 1.5rem;
        }

        
        .review-scroll {
            overflow: scroll;
        }


    /* ======*LINK BEHAVIOR====== */ 
        .item-link {
            color: rgb(0, 0, 117);
        }


        .item-link:visited {
            color: #333;
        }


        .item-link:hover {
            color: #5a0078;
        }

/* ==#==              ====*/



/* ==#==  MISC  ====*/
        .uppercase-marker {
            text-transform: uppercase;
        }
/* ==#==         ====*/



/* @=====MEDIA FLEX====== */
/* @==                @== */
    /* ==#==EXTRA LARGE SCREEN==== */
        @media (max-width: 87.5em) {
            .current-item-title {
                font-size: 3rem;
                text-decoration-thickness: 4px;
                margin: 0rem;
            }



            #item-review {
                font-size: 1.2rem;
                column-count: 4;
                column-gap: 2rem;
                line-height: 1;
                padding-bottom: .2rem;
            }


            #item-review::first-letter {
                font-size: 3.93em;
                margin-top: .28rem;
                margin-right: .3rem;
                margin-left: 2.25rem;
            }

            
            #song-lyrics {
                /* font-size: 1.37em; */
            }
        }

    /* ==#==LARGE SCREEN==== */    
        @media (max-width: 75em) { 
            .current-item-title {
                font-size: 2.5rem;
                text-decoration-thickness: 3px;
                margin: 0rem;
            }


            #item-review {
                font-size: 1.05rem;
                column-count: 4;
                column-gap: 2rem;
                line-height: 1.025;
                padding-bottom: .2rem;
            }


            #item-review::first-letter {
                font-size: 3.9em;
                margin-top: .27rem;
                margin-right: .3rem;
                margin-left: 1.6rem;
            }
        }

    /* ==#==MEDIUM SCREEN==== */    
        @media (max-width: 57.625rem) {

    /* ======*MARQUEE FOUNDATION====== */
            .marquee-wrapper-outer {
                padding-top: 3px;
                padding-bottom: 3px;
            }


            .marquee-border {
                border-width: 7px;
            }


    /* ======*REVIEW SCALING====== */
            .current-item-title {
                font-size: 2.25rem;
                text-decoration-thickness: 3px;
                margin: 0rem;
            }


            #item-review {
                font-size: 1.05rem;
                column-count: 3;
                column-gap: 1.8rem;
                line-height: 1.05;
                padding-bottom: .2rem;
            }


            #item-review::first-letter {
                font-size: 4.15em;
                margin-top: .25rem;
                margin-right: .3rem;
                margin-left: 1.6rem;
            }
        }

    /* ==#==SMALL SCREEN==== */
        @media (max-width: 48em) {

    /* ======*MARQUEE FOUNDATION====== */
            .marquee-wrapper-outer {
                padding-top: 3px;
                padding-bottom: 3px;
            }


            .marquee-border {
                border-width: 7px;
            }


            #marquee-container {
                margin-top: .5rem!important;
                margin-bottom: .25rem!important;
            }


    /* ======*REVIEW SCALING====== */
            .current-item-title {
                font-size: 2.25rem;
                text-decoration-thickness: 3px;
                margin: 0rem;
            }


            #item-review {
                /* font-size: 1.3em; */
            }        


            #item-review::first-letter {
                /* font-size: 4.2rem; */
            }


            #song-lyrics {
                /* font-size: 1.14em; */
            }



            h2 {
                margin-top: auto;
                margin-bottom: .25rem;
            }


            #review-container {
                margin-top: .125rem!important;       
            }
        }

    /* ==#==EXTRA SMALL SCREEN====*/
        @media (max-width: 36em) {

    /* ======*MARQUEE FOUNDATION====== */
            .marquee-wrapper-outer {
                padding-top: 2px;
                padding-bottom: 2px;
            }


            .marquee-border {
                border-width: 6px;
            }


    /* ======*REVIEW SCALING====== */
            .current-item-title {
                font-size: 1.75rem;
                text-decoration-thickness: 2px;
                margin: 0rem;
            }


            #item-review {
                /* font-size: 1em;


                column-count: 2;
                column-gap: 1.2em;

                padding-bottom: .2em!important;

                line-height: 1.46rem; */
            }


            #item-review::first-letter {
                /* font-size: 3.3em;
                margin-top: .36rem;
                margin-right: 0rem;
                margin-left: -.05rem; */
            }


            #song-lyrics {
                font-size: 1em;
            }
        }

    /* ==#==SMALLEST SCREEN====*/
        @media (max-width: 25em) {

    /* ======*CURRENT ITEM DISPLAY====== */
            .current-item-title {
                font-size: 1.75rem;
                text-decoration-thickness: 2px;
                margin: 0rem;
            }


            #item-review {
                font-size: 1rem;
                column-count: 2;
                column-gap: 1.2em;
                line-height: 1.2;
                padding-bottom: .2em;
            }


            #item-review::first-letter {
                font-size: 2.75em;
                margin-top: .35rem;
                margin-right: .3rem;
                margin-left: -.1rem;
            }   
        }
/* @==                @== */