/* TODO create highlight animations on hover */
/* TODO change systle to showing title and a design on hover (maybe some static or something) */

@import url(https://fonts.googleapis.com/css2?family=League+Gothic&display=swap);

/* ==#==MARQUEE STUFF====*/
/* ==#==             ====*/
    /* ======*MARQUEE STRUCTURE====== */ 
        .marquee-border {
            border-style: ridge;
            border-width: 10px;
            border-color: rgb(0, 0, 0);
        }


        .marquee-wrapper-outer {
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 0px;
            background-color: rgb(54, 163, 105);
            width: max-content;
            overflow: hidden;

            scrollbar-color: rgb(210, 255, 231) rgb(14, 142, 74);
            scrollbar-width: auto;
        }


        .marquee-wrapper {
            width: max-content;
        }


        .marquee-content {
            overflow: hidden;
            display: flex;
            gap: 0; 
        }



    /* ======*MARQUEE ANIMATION====== */ 
        .marquee-track {
            display: flex;
            animation: marquee var(--marquee-duration, 20s) linear infinite;
            animation-delay: 1500ms;
        }


        @keyframes marquee {
            0% { 
                transform: translateX(0); 
            }
            100% { 
                transform: translateX(var(--scroll-distance, -50%)); 
            }
        }
/* ==#==             ====*/



/* ==#==REVIEW SECTION====*/
/* ==#==              ====*/
    /* ======*BACKGROUND====== */ 
        h2 {
            background-color: antiquewhite;
            background-image: url(https://img.freepik.com/free-photo/concrete-wall-textured-backgrounds-built-structure-concept_53876-14107.jpg);
            background-repeat: repeat;
        }

        p {
            background-color: antiquewhite;
            white-space: pre-line;
        }



    /* ======*CURRENT ITEM DISPLAY====== */
        .current-item-title {
            text-align: center;
            text-decoration: underline;

            font-family: "League Gothic", sans-serif;
            font-optical-sizing: auto;
            font-weight: 400;
            font-style: normal;
            font-variation-settings:
            "wdth" 100;


            font-size: 4rem;
            text-decoration-thickness: 5px;
            margin: 0rem;
        }


        
        #item-review {
            font-family: 'Times New Roman', Times, serif;


            font-size: 1.5rem;
            column-count: 4;
            column-gap: 2rem;
            line-height: 1.58;
            padding-bottom: .2rem;
        }


        #item-review::first-line {
            text-transform: uppercase;
            letter-spacing: .3rem;
        }


        #item-review::first-letter {
            text-transform: uppercase;
            font-weight: bold;
            line-height: 5rem;
            float: left;


            font-size: 2.5em;
            margin-top: .6rem;
            margin-right: .3rem;
            margin-left: -.1rem;
        }


        #song-lyrics {
            font-size: 1.5rem;
        }

        

    /* ======*LINK BEHAVIOR====== */ 
        .item-link {
            color: rgb(0, 0, 117);
        }


        .item-link:visited {
            color: #333;
        }


        .item-link:hover {
            color: #5a0078;
        }


        .review-scroll {
            overflow: scroll;
        }
/* ==#==              ====*/



/* ==#==  MISC  ====*/
        .uppercase-marker {
            text-transform: uppercase;
        }
/* ==#==         ====*/



/* @=====MEDIA FLEX====== */
/* @==                @== */
    /* ==#==EXTRA LARGE SCREEN==== */
        @media (max-width: 1400px) {
            #item-review {
                column-count: 3;
                column-gap: 1.5em;
                font-size: 1.37em;
            }

            #item-review::first-letter {
                font-size: 4.5rem;
            }

            
            #song-lyrics {
                font-size: 1.37em;
            }

        }

    /* ==#==LARGE SCREEN==== */    
        @media (min-width: 1200px) { 
            .current-item-title {
                    font-size: 3.5rem;
                }

            #item-review {
                font-size: 1.25em;
            }

            #item-review::first-letter {
                font-size: 4.2rem;
            }
        }

    /* ==#==MEDIUM SCREEN==== */    
        @media (max-width: 992px) {

    /* ======*REVIEW SCALING====== */
            .current-item-title {
                    font-size: 2.7rem;
            }

            #item-review {
                font-size: 1.3em;
            }        

            #item-review::first-letter {
                font-size: 4.2rem;
            }
        }

    /* ==#==SMALL SCREEN==== */
        @media (max-width: 768px) {

    /* ======*MARQUEE FOUNDATION====== */
            .marquee-wrapper-outer {
                padding-top: 3px;
                padding-bottom: 3px;
            }

            .marquee-border {
                border-width: 8px;
            }


    /* ======*REVIEW SCALING====== */
            .current-item-title {
                font-size: 2.5rem;
            }

            #item-review::first-letter {
                font-size: 3.4em;
                margin-top: .525rem;      
                margin-right: 0rem;
                margin-left: -.05rem;
                padding-right: .7rem;
            }
            

            #item-review {
                font-size: 1.14em;

                column-count: 3;
                column-gap: 1.2em;

                padding-bottom: .3em!important;

                line-height: 1.8rem;
            }

            #song-lyrics {
                font-size: 1.14em;
            }
        }

    /* ==#==EXTRA SMALL SCREEN====*/
        @media (max-width: 576px) {

    /* ======*REVIEW SCALING====== */
            .current-item-title {
                font-size: 1.8rem;
            }

            #item-review {
                font-size: 1em;


                column-count: 2;
                column-gap: 1.2em;

                padding-bottom: .2em!important;

                line-height: 1.46rem;
            }

            #item-review::first-letter {
                font-size: 3.3em;
                margin-top: .36rem;
                margin-right: 0rem;
                margin-left: -.05rem;
                padding-right: .5rem;
            }

            #song-lyrics {
                font-size: 1em;
            }
        }

    /* ==#==SMALLEST SCREEN====*/
        @media (max-width: 400px) {

    /* ======*REVIEW SCALING====== */
            .current-item-title {
                font-size: 1em;
                text-decoration-thickness: 2px;
                margin: 0;
            }

/* TODO: redo margin right left to keep consistant margins */

            #item-review {
                font-size: 1em;

                column-count: 2;
                column-gap: 1.2em;

                padding-bottom: .2em!important;

                line-height: 1.45rem;
            }


            #item-review::first-letter {
                font-size: 3.18em;
                margin-top: .4rem;
                margin-right: 0rem;
                margin-left: -.05rem;
                padding-right: .4rem;
            }   
        }
/* @==                @== */