/* TODO create highlight animations on hover */
/* TODO change systle to showing title and a design on hover (maybe some static or something) */


/* ======*MARQUEE STUFF====== */

.marquee-border {
    border-style: ridge;
    border-width: 10px;
    border-color: rgb(0, 0, 0);
}

.marquee-wrapper-outer {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0px;
    background-color: rgb(54, 163, 105);
    width: max-content;
    overflow: hidden;

}

.marquee-wrapper {
    width: max-content;
}

.marquee-content {
    overflow: hidden;
    display: flex;
    gap: 0; 
}

.marquee-track {
    display: flex;
    animation: marquee var(--marquee-duration, 20s) linear infinite;
    animation-delay: 1500ms;
}

@keyframes marquee {
    0% { 
        transform: translateX(0); 
    }
    100% { 
        transform: translateX(var(--scroll-distance, -50%)); 
    }
}

/* ======*REVIEW STUFF====== */ 

    .current-profile {
        margin-left: 0vw;
    }

    .current-stuff-title {
        text-align: center;

    }

/* ======*MEDIA FLEX====== */

    @media (max-width: 768px) {
        .current-stuff-title {
            display: inline-block;
            text-align: center;
        }

    @media (max-width: 555px) {
        .current-stuff-title {
            text-decoration: underline;
            text-align: center;
        }
    }


}


/* ======*MISC====== */

p {
white-space: pre-line;
}

.uppercase-marker {
    text-transform: uppercase;
}