/* TODO create highlight animations on hover */
/* TODO change systle to showing title and a design on hover (maybe some static or something) */

@import url(https://fonts.googleapis.com/css2?family=League+Gothic&display=swap);

/* ======*MARQUEE STUFF====== */

.marquee-border {
    border-style: ridge;
    border-width: 10px;
    border-color: rgb(0, 0, 0);
}

.marquee-wrapper-outer {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0px;
    background-color: rgb(54, 163, 105);
    width: max-content;
    overflow: hidden;

    scrollbar-color: rgb(210, 255, 231) rgb(14, 142, 74);
    scrollbar-width: auto;

}

.marquee-wrapper {
    width: max-content;
}

.marquee-content {
    overflow: hidden;
    display: flex;
    gap: 0; 
}

.marquee-track {
    display: flex;
    animation: marquee var(--marquee-duration, 20s) linear infinite;
    animation-delay: 1500ms;
}

@keyframes marquee {
    0% { 
        transform: translateX(0); 
    }
    100% { 
        transform: translateX(var(--scroll-distance, -50%)); 
    }
}

/* ======*REVIEW STUFF====== */ 

.current-profile {
    display: inline-block;
    margin-right: 10vw;
}

.current-item-title {
    text-align: center;

    font-family: "League Gothic", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

    font-size: 4rem;
    font-variation-settings:
    "wdth" 100;

}

.item-link {
    color: rgb(0, 0, 117);
}

.item-link:visited {
    color: #333;
}

.item-link:hover {
    color: #5a0078;
}

.review-scroll {
    overflow: scroll;
}

h2 {
    background-color: antiquewhite;
    background-image: url(https://img.freepik.com/free-photo/concrete-wall-textured-backgrounds-built-structure-concept_53876-14107.jpg);
    background-repeat: repeat;
}

p {
    background-color: antiquewhite;
    white-space: pre-line;
}

#item-review::first-line {
        text-transform: uppercase;
        letter-spacing: .1em;
    }

#item-review::first-letter {
        text-transform: uppercase;
        font-size: 3.3em;
        font-weight: bold;
        margin-right: .2rem;
        float: left;
        margin-top: .5rem;
        line-height: 5rem;
        padding-top: 0;
    }

#item-review {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;

    column-count: 4;
    column-gap: 2em;

    padding-bottom: .4em!important;
}

#song-lyrics {
    font-size: 1.5em;
}




/* @=====MEDIA FLEX====== */
/* @==                @== */
    /* ==#==EXTRA LARGE SCREEN==== */
        @media (max-width: 1400px) {
            #item-review {
                column-count: 3;
                column-gap: 1.5em;
                font-size: 1.37em;
            }

            #item-review::first-letter {
                font-size: 4.5rem;
                text-transform: uppercase!important;
            }

            
            #song-lyrics {
                font-size: 1.37em;
            }

        }

    /* ==#==LARGE SCREEN==== */    
        @media (min-width: 1200px) { 
            #Iitem-review {
                font-size: 1.4em;
            }
        }

    /* ==#==MEDIUM SCREEN==== */    
        @media (max-width: 992px) {
            #item-review {
                font-size: 1.3em;
            }        
        }

    /* ==#==SMALL SCREEN==== */
        @media (max-width: 768px) {
            .current-item-title {
                font-size: 2.5rem;
                padding: 3px!important;
            }

            .marquee-border {
                border-width: 8px;
            }

            #item-review::first-letter {
                font-size: 3.5em;
                letter-spacing: .1em;
            }
            

            #item-review {
                column-count: 3;
                font-size: 1.14em;
            }

            #song-lyrics {
                font-size: 1.14em;
            }
        }

    /* ==#==EXTRA SMALL SCREEN====*/
        @media (max-width: 576px) {

        /* ======*MARQUEE FOUNDATION====== */
            .marquee-wrapper-outer {
                padding-top: 5px;
            }

            .marquee-border {
                border-width: 7px;
            }

        /* ======*REVIEW SCALING====== */
            .current-item-title {
                font-size: 2.1rem;
                padding: 3px!important;
            }

            #item-review {
                font-size: 1em;
                column-count: 2;
                column-gap: 1.2em;
            }

            #song-lyrics {
                font-size: 1em;
            }

            #item-review::first-letter {
                font-size: 3.3em!important; 

            }
        }
/* @==                @== */


    /* ======*MISC====== */
    .uppercase-marker {
        text-transform: uppercase;
    }