/* TODO create highlight animations on hover */
/* TODO change systle to showing title and a design on hover (maybe some static or something) */

@import url(https://fonts.googleapis.com/css2?family=League+Gothic&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Michroma&display=swap);



/* ==#==MARQUEE STUFF====*/
/* ==#==             ====*/
    /* ======*MARQUEE STRUCTURE====== */ 
        .marquee-border {
            border-style: ridge;
            border-color: rgb(0, 0, 0);
            
            border-width: 10px;
        }


        .marquee-wrapper-outer {
            padding-left: 0px;
            background-color: rgb(54, 163, 105);
            width: max-content;
            overflow: hidden;
            scrollbar-color: rgb(210, 255, 231) rgb(14, 142, 74);
            scrollbar-width: auto;
            
            padding-top: 10px;
            padding-bottom: 10px;
        }


        .marquee-wrapper {
            width: max-content;
        }


        .marquee-content {
            overflow: hidden;
            display: flex;
            gap: 0; 
        }



    /* ======*HOVER FILTER====== */ 
        b {
            display: flex;
            align-items: center;
            justify-content: center;
            
            position: absolute;
            inset: 0;
            z-index: 1;
            pointer-events: none!important;
            
            font-family: "Michroma", sans-serif;
            font-weight: 400;
            font-style: normal;
            text-transform: uppercase;
            
            color: whitesmoke;
            text-shadow: 2px 2px 1px #000000;    /* bottom-right, further away */
            
            opacity: 0;
            
            margin-left: 1rem;
            margin-right: 1.1rem;
            font-size: 1.03rem
        }

        .hover-filter {
            background-color: transparent;
            background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/1f1d3db0-bb51-4da7-874b-fc4bda5f2395/dclwg5d-3249b800-65b3-4ad5-9a42-d0519ba70d4c.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiIvZi8xZjFkM2RiMC1iYjUxLTRkYTctODc0Yi1mYzRiZGE1ZjIzOTUvZGNsd2c1ZC0zMjQ5YjgwMC02NWIzLTRhZDUtOWE0Mi1kMDUxOWJhNzBkNGMuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.mJOPzWMBz3pPxbkZ_N1x-AzrTn-I38S6xN8T-hwNP1c);
            border-radius: 4px;
            
            opacity: 0;
            position: absolute;
            inset: 0;
            z-index: 0;
            pointer-events: none!important;
        }


        .marquee-item b{
            font-size: 1.1rem
        }

        .marquee-item:hover .hover-filter{
            opacity: .2;
        }

        .marquee-item:hover b{
            opacity: .85;
        }



    /* ======*MARQUEE ANIMATION====== */ 
        .marquee-track {
            display: flex;
            animation: marquee var(--marquee-duration, 20s) linear infinite;
            animation-delay: 1500ms;
        }


        @keyframes marquee {
            0% { 
                transform: translateX(0); 
            }
            100% { 
                transform: translateX(var(--scroll-distance, -50%)); 
            }
        }
/* ==#==             ====*/




/* ==#==REVIEW SECTION====*/
/* ==#==              ====*/
    /* ======*BACKGROUND====== */ 
        h2 {
            background-color: antiquewhite;
            background-image: url(https://img.freepik.com/free-photo/concrete-wall-textured-backgrounds-built-structure-concept_53876-14107.jpg);
            background-repeat: repeat;
        }

        p {
            background-color: antiquewhite;
            white-space: pre-line;
        }



    /* ======*CURRENT ITEM DISPLAY====== */
        .current-item-title {
            text-align: center;
            text-decoration: underline;
            
            font-family: "League Gothic", sans-serif;
            font-optical-sizing: auto;
            font-weight: 400;
            font-style: normal;
            font-variation-settings:
            "wdth" 100;
            
            
            
            font-size: 3.4rem;
            text-decoration-thickness: 5px;
            margin: 0rem;
        }


    /* ======*CURRENT REVIEW DISPLAY====== */    
        #item-review {
            font-family: 'Times New Roman', Times, serif;
            
            -webkit-font-smoothing: antialiased;
            
            font-size: 1.4rem;
            column-count: 4;
            column-gap: 2rem;
            line-height: 1;
            padding-bottom: .2rem;
            padding-top: .1rem;
        }


        #item-review::first-letter {
            text-transform: uppercase;
            font-weight: bold;
            line-height: 5rem;
            float: left;


            font-size: 3.97em;
            margin-top: .28rem;
            margin-right: .3rem;
            margin-left: 2.5rem;
        }


        #item-review::first-line {
            text-transform: uppercase;
            letter-spacing: .3rem;
        }



        #song-lyrics {
            font-family: 'Times New Roman', Times, serif;
            
            -webkit-font-smoothing: antialiased;
            
            
            font-size: 1.4rem;
            line-height: 1.2;
            padding-bottom: .2rem;
            padding-top: .1rem;
        }



        ::ng-deep .alert {
            display: block;
            text-align: center;
            color: crimson;
            font-weight: bold;
            margin-bottom: -5.6rem;
        }


        ::ng-deep .tangent {
            color:indianred;
        }



        .review-scroll {
            overflow: scroll;
        }


    /* ======*CURRENT ITEM LINK BEHAVIOR====== */ 
        .item-link {
            color: rgb(0, 0, 117);
        }


        .item-link:visited {
            color: #333;
        }


        .item-link:hover {
            color: #5a0078;
        }
/* ==#==              ====*/



/* ==#==  MISC  ====*/
    
/* ==#==        ====*/



/* @=====MEDIA FLEX====== */
/* @==                @== */
    /* ==#==EXTRA LARGE SCREEN  1200px+ ==== */
        @media (max-width: 87.5em) {
            .current-item-title {
                font-size: 2.6rem;
                text-decoration-thickness: 4px;
                margin: 0rem;
            }



            #item-review {
                font-size: 1.2rem;
                column-count: 4;
                column-gap: 2rem;
                line-height: 1;
                padding-bottom: .2rem;
            }


            #item-review::first-letter {
                font-size: 3.93em;
                margin-top: .28rem;
                margin-right: .3rem;
                margin-left: 2.25rem;
            }




            #song-lyrics {
                font-size: 1.4rem;
                line-height: 1.2;
                padding-bottom: .2rem;
                padding-top: .1rem;
            }



        /* ======*HOVER FILTER====== */
            .marquee-item b{
                font-size: .95rem
            }
        }

    /* ==#==LARGE SCREEN==== 992px - 1200px*/    
        @media (max-width: 75em) { 
            .current-item-title {
                font-size: 2.3rem;
                text-decoration-thickness: 3px;
                margin: 0rem;
            }


            #item-review {
                font-size: 1.05rem;
                column-count: 4;
                column-gap: 2rem;
                line-height: 1.025;
                padding-bottom: .2rem;
            }


            #item-review::first-letter {
                font-size: 3.9em;
                margin-top: .27rem;
                margin-right: .3rem;
                margin-left: 1.6rem;
            }



            #song-lyrics {
                font-size: 1.15rem;
                line-height: 1.1;
                padding-bottom: .2rem;
                padding-top: .1rem;
            }



    /* ======*HOVER FILTER====== */
            .marquee-item b{
                font-size: .85rem
            }
        }

    /* ==#==MEDIUM SCREEN==== 768px - 992px*/    
        @media (max-width: 57.625rem) {

    /* ======*MARQUEE FOUNDATION====== */
            .marquee-wrapper-outer {
                padding-top: 3px;
                padding-bottom: 3px;
            }


            .marquee-border {
                border-width: 7px;
            }



    /* ======*REVIEW SCALING====== */
            .current-item-title {
                font-size: 2.22rem;
                text-decoration-thickness: 3px;
                margin: 0rem;
            }


            #item-review {
                font-size: 1.05rem;
                column-count: 3;
                column-gap: 1.6rem;
                line-height: 1.05;
                padding-bottom: .2rem;
            }


            #item-review::first-letter {
                font-size: 4.15em;
                margin-top: .25rem;
                margin-right: .3rem;
                margin-left: 1.6rem;
            }



            #song-lyrics {
                font-size: 1.15rem;
                line-height: 1.1;
                padding-bottom: .2rem;
                padding-top: .1rem;
            }



    /* ======*HOVER FILTER====== */
            .marquee-item b{
                font-size: .75rem;
            }

            .marquee-item:hover b{
                opacity: .95;
            }
        }

    /* ==#==SMALL SCREEN==== 576px - 768px*/
        @media (max-width: 48em) {

    /* ======*MARQUEE FOUNDATION====== */
            .marquee-wrapper-outer {
                padding-top: 3px;
                padding-bottom: 3px;
            }


            .marquee-border {
                border-width: 7px;
            }


            #marquee-container {
                margin-top: .5rem!important;
                margin-bottom: .25rem!important;
            }



    /* ======*REVIEW SCALING====== */
            .current-item-title {
                font-size: 1.77rem;
                text-decoration-thickness: 3px;
                margin: 0rem;
            }


            #item-review {
                font-size: 1.05rem;
                column-count: 3;
                column-gap: 1.6rem;
                line-height: 1.05;
                padding-bottom: .2rem;
            }


            #item-review::first-letter {
                font-size: 4.05em;
                margin-top: .25rem;
                margin-right: .3rem;
                margin-left: 1.6rem;
            }



            #song-lyrics {
                font-size: 1.1rem;
                line-height: 1.1;
                padding-bottom: .2rem;
                padding-top: .1rem;
            }



    /* ======*REVIEW FOUNDATION====== */
            h2 {
                margin-top: auto;
                margin-bottom: .25rem;
            }


            #review-container {
                margin-top: .125rem!important;       
            }



    /* ======*HOVER FILTER====== */
            .marquee-item b{
                font-size: .65rem;
            }
        }

    /* ==#==EXTRA SMALL SCREEN==== 576px - 400px*/
        @media (max-width: 36em) {
    
    /* ======*MARQUEE FOUNDATION====== */
            .marquee-wrapper-outer {
                padding-top: 2px;
                padding-bottom: 2px;
            }


            .marquee-border {
                border-width: 6px;
            }



    /* ======*REVIEW SCALING====== */
            .col-4 {
                padding-left: 6px;
                padding-right: 6px;
            }



            .current-item-title {
                font-size: 1.6rem;
                text-decoration-thickness: 2px;
                margin: 0rem;
            }


            #item-review {
                font-size: 1.05rem;
                column-count: 2;
                column-gap: 1.5rem;
                line-height: 1.05;
                padding-bottom: .2rem;
            }


            #item-review::first-letter {
                font-size: 4.05em;
                margin-top: .25rem;
                margin-right: .3rem;
                margin-left: 1.6rem;
            }



            #song-lyrics {
                font-size: 1.1rem;
                line-height: 1.1;
                padding-bottom: .2rem;
                padding-top: .1rem;
            }



    /* ======*HOVER FILTER====== */
            .marquee-item b{
                font-size: .55rem;
            }

            .marquee-item:hover b{
                opacity: .99;
            }
        }

    /* ==#==SMALLEST SCREEN==== 400px- */
        @media (max-width: 25em) {

    /* ======*CURRENT ITEM DISPLAY====== */
            .current-item-title {
                font-size: 1.5rem;
                text-decoration-thickness: 2px;
                margin: 0rem;
            }


            #item-review {
                font-size: 1.05rem;
                column-count: 2;
                column-gap: 1.4rem;
                line-height: 1.04;
                padding-bottom: .2rem;
            }


            #item-review::first-letter {
                font-size: 4.05em;
                margin-top: .25rem;
                margin-right: .3rem;
                margin-left: 1.6rem;
            }



            #song-lyrics {
                font-size: 1.075rem;
                line-height: 1.075;
                padding-bottom: .2rem;
                padding-top: .1rem;
            }
        }
/* @==                @== */