<!-- ============MARQUEE SECTION============= -->
@if (isScrollable()) {
    <button type="button" class="btn btn-outline-dark" (click)="playAnimation($event)" aria-details="resume scroll animation & disable scrollbar">resume scroll</button>
}
@if (!isScrollable()) {
    <button type="button" class="btn" (click)="stopAnimation($event)" aria-details="stop scroll animation & enable scrollbar">pause scroll</button>
}

<div class="container-xxl mt-3 mt-sm-1">
    <div class="row justify-content-center align-self-center">

        <div class="col-12 marquee-wrapper-outer marquee-border">
            <div class="marquee-wrapper">
                <div class="marquee-content">
                    <div id="stuff-marque" class="list-group list-group-horizontal justify-content-center align-self-center marquee-content">

                        <div class="marquee-track">
                            
                            @for (stuff of stuffArray(); track getItemTitle(stuff); let i = $index) {
                                <img
                                    [src]="getItemArt(stuff)"
                                    [class]="marqueeArtClass()" class="list-group-item list-group-item-action"
                                    (mouseover)="setAllCurrentItemData(i); pauseAnimation()"
                                    (focus)="setAllCurrentItemData(i); pauseAnimation()"
                                    (mouseleave)="resumeAnimation()"
                                    [alt]="getItemTitle(stuff)"
                                >
                            }
                                                    
                            @for (stuff of stuffArray(); track getItemTitle(stuff); let i = $index) {
                                <img
                                    [src]="getItemArt(stuff)"
                                    [class]="marqueeArtClass()" class="list-group-item list-group-item-action"
                                    (mouseover)="setAllCurrentItemData(i); pauseAnimation()"
                                    (focus)="setAllCurrentItemData(i); pauseAnimation()"
                                    (mouseleave)="resumeAnimation()"
                                    [alt]="getItemTitle(stuff)"
                                >
                            }
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


    <!-- ============REVIEW SECTION============= -->

<div class="container-xxl mt-2 mt-sm-1 mb-2">
    <div class="row justify-content-around">

        <h2 class="text-center border border-3 p-0" id="stuff-header">  
            <div class="container justify-content-around mt-0">
                
                <div class="d-flex align-items-center p-2">
                    <a [href]="currentItemLink()" target="_blank" rel="noopener noreferrer"> 
                        <img [class]="relevantImgClass()" [src]="currentItemArt()" [alt]="currentItemArt()">
                    </a>

                    <div class="text-center current-item-title flex-grow-1 px-3">
                        <a [href]="currentItemLink()" target="_blank" rel="noopener noreferrer"> 
                            {{ currentItemTitle() }} 
                            @if (kindOfItem() === 'song') {
                                - {{ currentSongArtist() }}
                            }
                        </a>
                    </div>
                    
                    <a [href]="relevantProfile()" target="_blank" rel="noopener noreferrer"> 
                        <img [class]="profilePictureClass()" [src]="profilePicture()" alt="relevant-profile">
                    </a>
                </div>
            </div>
        </h2>
    </div>

    <div class="row">
        <p class="border border-3 mt-0 mb-0 review-font" id="item-review" [innerHTML]="currentItemReview() | textAestheticPipe"></p>
        @if (kindOfItem() === `song`) {
            <p class="fs-4 border border-3 mt-0 text-center review-font" id="song-lyrics" [innerHTML]="currentSongLyrics() | textAestheticPipe"></p> 
        }
    </div>
</div>