<ul class="list-group align-items-center stuff-search-sidebar">

    @for (item of stuffArray(); track item; let i = $index) {
        @if (isSong(item)) {
            <a (click)="selectItem(i)" class="list-group-item list-group-item-action text-center" 
                target="_blank" rel="noopener noreferrer">

                <b>{{ item.songArtist }} - {{ item.songTitle }}</b></a>
        }
        @if (isMovie(item)) {
            <a (click)="selectItem(i)" class="list-group-item list-group-item-action text-center"    
                target="_blank" rel="noopener noreferrer">

                <b>{{ item.movieTitle }}</b></a>
        }
    }
    
</ul>