h2 {
    font-size: 1.25rem;
}

.stuff-search-sidebar {
    max-height: 300px;
    max-width: fit-content!important;
    overflow: scroll;
    pointer-events: all;
}

.stuff-search-sidebar .list-group-item {
    color: #333;
    padding: 0.75rem;
    pointer-events: all!important;
}

.stuff-search-sidebar .list-group-item:hover {  
    cursor: pointer;
}

.stuff-search-sidebar input {
    pointer-events: all!important;
}

.searchbar {
    pointer-events: all;
}

.placeholder-text {
    font-size: 1rem;
}

.listgroupFont {
    font-size: 2rem;
}


/* ========= MEDIA FLEX ========== */

@media (max-width: 768px) {

    .placeholder-text {
        font-size: .75rem;
    }

    .listgroup-font{
        font-size: .80rem;
    }
}
