.stuff-search-sidebar {
    max-height: 50vh;
    max-width: fit-content!important;
    overflow: scroll;
}


.stuff-search-sidebar .list-group-item {
    color: #333;
    padding: 0.75rem;
    pointer-events: all!important;
}

.stuff-search-sidebar .list-group-item:hover {  
    cursor: pointer;
}
