.sidebar-right {
    background-color: burlywood;
    padding: 1rem;
    margin-top: 3px;
    height: fit-content;
    transform: translateY(25%);
    pointer-events: none;
    z-index: 1;
    overflow: scroll;
}

.sidebar-right h2 {
    font-size: 1.25rem;
}

@media (max-width: 991px) {
    .sidebar-right {
        transform: translateY(0%);
    }
}