.sidebar-right {
    background-color: burlywood;
    padding: 1rem;
    margin-top: 3px;
    height: fit-content;
    top: 25vh; 
    pointer-events: none;
    z-index: 1;
    position: sticky;
}

.sidebar-right h2 {
    font-size: 1.25rem;
}

@media (max-width: 991px) {
    .sidebar-right {
        margin-top: 3px;
    }
}