
/* ==#==MARQUEE GAME COVER ART====*/
/* ==#==                      ====*/
    .marquee-item-game {
        display: inline-block;
        aspect-ratio: 2 / 3; 
        border-color: green;
        border-style: solid;
        overflow: hidden;

        width: 12.5rem;
        border-width: 5px;
        margin: 5px;
    }

    .marquee-item-game img{
        display: inline-block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }    
/* ==#==                      ====*/



/* ==#==GAME LIST====*/
/* ==#==         ====*/
    .full-game-list {
        max-width: fit-content;
        max-height: 25vh;
        overflow-y: scroll;
        border: 5px solid blueviolet !important;
    }

    .full-game-list .list-group-item {
        border-left: none;
        border-right: none;
    }

    .full-game-list .list-group-item:first-child {
        border-top: none;
    }

    .full-game-list .list-group-item:last-child {
        border-bottom: none;
    }
/* ==#==         ====*/



/* ==#==REVIEW SECTION====== */
/* ==#==              ====== */
    .current-game-art {
        display: block;
        border-color: gold; 
        border-radius: 2%;
        border-style: solid;
        aspect-ratio: 2 / 3;

        width: 12.75rem;
        border-width: 7px;
        margin: 0 auto;
    }


    .discord-profile img{
        display: block;
        border-style: solid;
        border-color: rgb(93, 147, 228); 
        border-radius: 15%;
        aspect-ratio: 1 / 1;


        width: 9.375rem;
        border-width: 4px;
    }
/* ==#==              ====== */



/* ==#== MISC ====== */

/* ==#==        ===== */



/* @=====MEDIA FLEX====== */
/* @==                @== */
    /* ==#==EXTRA LARGE SCREEN==== */
        @media (max-width: 87.5em) {
            .marquee-item-game {
                width: 10rem;
                border-width: 4px;
                margin: 4px;
            }


            .current-game-art {
                width: 10.5rem;
                border-width: 5px;
                margin: 0 auto;
            }

            
            .discord-profile img{
                width: 8rem;
                border-width: 4px;
                margin: 0 auto;
            }
        }

    /* ==#==LARGE SCREEN==== */    
        @media (max-width: 75em) { 
            .marquee-item-game {
                width: 9rem;
                border-width: 4px;
                margin: 3px;
            }


            .current-game-art {
                width: 9.5rem;
                border-width: 4px;
                margin: 0 auto;
            }


            .discord-profile img{
                width: 7rem;
                border-width: 3px;
                margin: 0 auto;
            }
        }

    /* ==#==MEDIUM SCREEN==== */    
        @media (max-width: 57.625em) {
            .marquee-item-game {
                width: 8rem;
                border-width: 3px;
                margin: 2px;
            }


            .current-game-art {
                width: 8rem;
                border-width: 4px;
                margin: 0 auto;
            }


            .discord-profile img{
                width: 6.2rem;
                border-width: 3px;
                margin: 0 auto;
            }
        }

    /* ==#==SMALL SCREEN==== */
        @media (max-width: 48em) {
            .marquee-item-game {
                width: 7rem;
                border-width: 3px;
                margin: 2px;
            }


            .current-game-art {
                width: 7rem;
                border-width: 4px;
                margin: 0 auto;
            }


            .discord-profile img{
                width: 6rem;
                border-width: 3px;
                margin: 0 auto;
            }
        }

    /* ==#==EXTRA SMALL SCREEN====*/
        @media (max-width: 36em) {
            .marquee-item-game {
                width: 6rem;
                border-width: 2px;
            }
            

            .current-game-art {
                width: 6rem;
                border-width: 3px;
            }
            

            .discord-profile img {
                width: 5rem;
                border-width: 3px;
            }    
        }

    /* ==#==SMALLEST SCREEN====*/
        @media (max-width: 25em) {
            .discord-profile img {
                width: 4.5rem;
                border-width: 3px;
            }    
        }
/* @==                @== */