<div class="row">

  <div class="col-l2 order-first">
    <div class="tv-container bg-primary">

      <img src="/gifs/twin-peaks-crt-cropped.gif" class="crt-gif" alt="crt-display" aria-details="a crt display which clips of a music video are playing">

        <a [href]="getVideoLink()" target="_blank" rel="noopener noreferrer">
         <img [src]="currentVideoGif()" class="mv-gif" alt="selected-mv" aria-details="current music video selected">
        </a>
    </div>

  </div>



  <div class="list-group col-12 order-2 p-2 justify-content-center align-items-center">
    
    <div class="btn-group-vertical text-center video-shelf" role="group" id="video-shelf" aria-label="vertical button group">
      <button type="button" class="video-shelf-button" id="iwannabewithyou-button" (click)="selectVideo('iwannabewithu')" aria-current="true">iwannabewithu</button>
      <button type="button" class="video-shelf-button" id="its-not-ok-button" (click)="selectVideo('its not ok')" aria-current="false">its not ok</button>
      <button type="button" class="video-shelf-button" id="beside-u-button" (click)="selectVideo('beside u')" aria-current="false">beside u</button>
    </div>

  </div>

</div>
<!-- scale down gifs for better loading times -->